@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
  --background: oklch(0.9611 0.0041 91.4468);
  --foreground: oklch(0.2046 0 0);
  --card: oklch(1.0000 0 0);
  --card-foreground: oklch(0.2046 0 0);
  --popover: oklch(1.0000 0 0);
  --popover-foreground: oklch(0.2046 0 0);
  --primary: oklch(0.5156 0.1632 254.7284);
  --primary-foreground: oklch(1.0000 0 0);
  --secondary: oklch(0.9791 0 0);
  --secondary-foreground: oklch(0.5103 0 0);
  --muted: oklch(0.9401 0 0);
  --muted-foreground: oklch(0.5103 0 0);
  --accent: oklch(0.9791 0 0);
  --accent-foreground: oklch(0.5156 0.1632 254.7284);
  --destructive: oklch(0.5915 0.2020 21.2388);
  --destructive-foreground: oklch(1.0000 0 0);
  --border: oklch(0.9067 0 0);
  --input: oklch(1.0000 0 0);
  --ring: oklch(0.5156 0.1632 254.7284);
  --chart-1: oklch(0.5156 0.1632 254.7284);
  --chart-2: oklch(0.5103 0 0);
  --chart-3: oklch(0.9067 0 0);
  --chart-4: oklch(0.4819 0 0);
  --chart-5: oklch(0.8203 0 0);
  --sidebar: oklch(1.0000 0 0);
  --sidebar-foreground: oklch(0.2046 0 0);
  --sidebar-primary: oklch(0.5156 0.1632 254.7284);
  --sidebar-primary-foreground: oklch(1.0000 0 0);
  --sidebar-accent: oklch(0.9596 0.0109 234.8178);
  --sidebar-accent-foreground: oklch(0.5156 0.1632 254.7284);
  --sidebar-border: oklch(0.9067 0 0);
  --sidebar-ring: oklch(0.5156 0.1632 254.7284);
  --radius: 0.25rem;
  --shadow-x: 0rem;
  --shadow-y: 0.125rem;
  --shadow-blur: 0.5rem;
  --shadow-spread: 0rem;
  --shadow-opacity: 0.05;
  --shadow-color: #000000;
  --shadow-2xs: 0rem 0.125rem 0.5rem 0rem hsl(0 0% 0% / 0.03);
  --shadow-xs: 0rem 0.125rem 0.5rem 0rem hsl(0 0% 0% / 0.03);
  --shadow-sm: 0rem 0.125rem 0.5rem 0rem hsl(0 0% 0% / 0.05), 0rem 1px 2px -1px hsl(0 0% 0% / 0.05);
  --shadow: 0rem 0.125rem 0.5rem 0rem hsl(0 0% 0% / 0.05), 0rem 1px 2px -1px hsl(0 0% 0% / 0.05);
  --shadow-md: 0rem 0.125rem 0.5rem 0rem hsl(0 0% 0% / 0.05), 0rem 2px 4px -1px hsl(0 0% 0% / 0.05);
  --shadow-lg: 0rem 0.125rem 0.5rem 0rem hsl(0 0% 0% / 0.05), 0rem 4px 6px -1px hsl(0 0% 0% / 0.05);
  --shadow-xl: 0rem 0.125rem 0.5rem 0rem hsl(0 0% 0% / 0.05), 0rem 8px 10px -1px hsl(0 0% 0% / 0.05);
  --shadow-2xl: 0rem 0.125rem 0.5rem 0rem hsl(0 0% 0% / 0.13);
  --tracking-normal: 0em;
  --spacing: 0.25rem;
}

.dark {
  --background: oklch(0.2486 0.0106 242.1414);
  --foreground: oklch(0.9364 0.0046 258.3251);
  --card: oklch(0.3041 0.0155 240.4827);
  --card-foreground: oklch(0.9364 0.0046 258.3251);
  --popover: oklch(0.3041 0.0155 240.4827);
  --popover-foreground: oklch(0.9364 0.0046 258.3251);
  --primary: oklch(0.7549 0.1210 249.3743);
  --primary-foreground: oklch(0.2486 0.0106 242.1414);
  --secondary: oklch(0.3626 0.0183 245.1528);
  --secondary-foreground: oklch(0.8576 0 0);
  --muted: oklch(0.3195 0.0175 241.5483);
  --muted-foreground: oklch(0.7058 0 0);
  --accent: oklch(0.3626 0.0183 245.1528);
  --accent-foreground: oklch(0.7549 0.1210 249.3743);
  --destructive: oklch(0.7449 0.1269 25.8285);
  --destructive-foreground: oklch(0.2486 0.0106 242.1414);
  --border: oklch(0.4078 0.0178 245.0667);
  --input: oklch(0.3195 0.0175 241.5483);
  --ring: oklch(0.7549 0.1210 249.3743);
  --chart-1: oklch(0.7549 0.1210 249.3743);
  --chart-2: oklch(0.7058 0 0);
  --chart-3: oklch(0.4078 0.0178 245.0667);
  --chart-4: oklch(0.5999 0 0);
  --chart-5: oklch(0.4819 0 0);
  --sidebar: oklch(0.3041 0.0155 240.4827);
  --sidebar-foreground: oklch(0.9364 0.0046 258.3251);
  --sidebar-primary: oklch(0.7549 0.1210 249.3743);
  --sidebar-primary-foreground: oklch(0.2486 0.0106 242.1414);
  --sidebar-accent: oklch(0.3488 0.0393 249.0107);
  --sidebar-accent-foreground: oklch(0.7549 0.1210 249.3743);
  --sidebar-border: oklch(0.4078 0.0178 245.0667);
  --sidebar-ring: oklch(0.7549 0.1210 249.3743);
  --radius: 0.25rem;
  --shadow-x: 0rem;
  --shadow-y: 0.125rem;
  --shadow-blur: 0.5rem;
  --shadow-spread: 0rem;
  --shadow-opacity: 0.2;
  --shadow-color: #000000;
  --shadow-2xs: 0rem 0.125rem 0.5rem 0rem hsl(0 0% 0% / 0.10);
  --shadow-xs: 0rem 0.125rem 0.5rem 0rem hsl(0 0% 0% / 0.10);
  --shadow-sm: 0rem 0.125rem 0.5rem 0rem hsl(0 0% 0% / 0.20), 0rem 1px 2px -1px hsl(0 0% 0% / 0.20);
  --shadow: 0rem 0.125rem 0.5rem 0rem hsl(0 0% 0% / 0.20), 0rem 1px 2px -1px hsl(0 0% 0% / 0.20);
  --shadow-md: 0rem 0.125rem 0.5rem 0rem hsl(0 0% 0% / 0.20), 0rem 2px 4px -1px hsl(0 0% 0% / 0.20);
  --shadow-lg: 0rem 0.125rem 0.5rem 0rem hsl(0 0% 0% / 0.20), 0rem 4px 6px -1px hsl(0 0% 0% / 0.20);
  --shadow-xl: 0rem 0.125rem 0.5rem 0rem hsl(0 0% 0% / 0.20), 0rem 8px 10px -1px hsl(0 0% 0% / 0.20);
  --shadow-2xl: 0rem 0.125rem 0.5rem 0rem hsl(0 0% 0% / 0.50);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
    opacity: 1;
  }
}

.animate-fadeIn {
  animation: fadeIn 0.5s ease-in-out forwards;
}